<header class="header">

  <div class="mobile-menu">
      <button class="burger">
        <span></span>
        <span></span>
      </button>
      
      <nav class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">
              About
            </a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">
              Contact
            </a>
          </li>
        </ul>
      </nav>
    
  </div>

</header>
