.main-swiper {
  height: 100vh;
  overflow: hidden;

  @include mobile {
    height: 100dvh;
  }

  &__wrapper {
    height: 100vh;

    @include mobile {
      height: 100dvh;
    }
  }

  &__slide {
    height: 100vh;

    @include mobile{
      height: 100dvh;
    }
  }

  &__picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    &:before{
      position: absolute;
      content: '';
      width: 100%;
      left: calc(var(--container-offset) * 2);
      right: 0;
      bottom: 15dvh;
      height: 2.5px;
      background-color:rgba(var(--bg-g), 0.9);

      @include for-small-tablet{
        display: none;
      }
    }

    @include laptop{
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transform: none;
    }

    @include mobile {
      height: 100dvh;
    }

    picture,
    img {
      height: 100vh;
      width: 100vw;
      object-position: center;
      object-fit: none;

      @include laptop{
        object-position: left center;
        object-fit: cover;
        margin-left: -40px;
        margin-right: -100px;
        width: calc(100% + 140px);
      }

      @include small-tablet {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        margin: 0;
      }

      @include mobile{
        height: 100dvh;
      }
    }
  }
}

.main-swiper .none {
  @include tablet {
    display: none;
  }
}

.swiper-button-next {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

}

@keyframes nextBtn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.swiper-slide-active {
  .swiper-button-next {
    animation: nextBtn 1s ease-in 2s 1 forwards;
  }
}
