.slide14 {
  .default-slide__box {
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    @include laptop {
      padding: 40px;
    }

    @include small-tablet {
      padding: 40px 60px;
  
    }

    @include mobile {
      justify-content: center;
      padding: 0;
    }
  }
  .default-slide__inner {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    align-items: center;

    &--mode {
      margin-top: -3%;
      width: 100%;
      grid-template-columns: 1.3fr 1fr;
      justify-items: end;
      align-items: start;
      padding-top: 20px;
      @include laptop {
        margin: 0;
      }

      @include small-tablet {
        height: fit-content;
        padding-bottom: 40px;
            padding-top: 40px;
      }

      @include mobile{
        padding-bottom: 0;
      }
      @include ios{
        padding-top: 20px;
      }
  
      @media (max-width: (325px)) {
        padding-top: 10px;
      }

      .default-slide__picture {
        display: flex;
        justify-content: end;
        padding: 0 0 0 65px;
        @include small-tablet {
          display: none;
        }
        img,
        picture {
          height: 37vh;
          width: auto;

          @include laptop {
            height: 40vh;
          }

          @include tablet {
            height: 35vh;
          }

          @include small-tablet {
            height: 75vh;
          }
        }
      }

      p {
        max-width: 520px;
        padding: 0 65px 0 0;
        @include laptop {
          padding-top: 7vh;
          justify-content: center;
        }

        @include laptop {
          justify-self: start;
          padding-bottom: 16vh;
        }

        @include small-tablet {
          max-width: 100%;
          padding: 0;
        }
      }
    }

    @include small-tablet {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: fit-content;
    }

    @include ios {
      height: fit-content;

    }
  }

  p {
    height: 100%;
    justify-content: center;
    padding-left: 65px;
    @include laptop {
      justify-content: flex-end;
      padding-bottom: 16vh;
    }

    @include tablet {
      padding-bottom: 5vh;
    }

    @include small-tablet {
      width: 100%;
      text-align: start;
      padding: 0;
      height: fit-content;
    }
  }

  .default-slide__info {

    @include small-tablet {
      display: none;
    }
  }

  .default-slide__picture {
    padding-right: 65px;
    @include small-tablet {
      display: flex;
      justify-content: center;
      padding: 0 0 60px 0;
    }

    @include mobile {
      height: fit-content;
    }

    @include ios{
      padding: 0 0 20px 0;
    }
    img,
    picture {
      height: 39vh;
      width: auto;

      @include tablet {
        height: 35vh;
      }

      @include small-tablet {
        height: 55vh;
      }

      @include mobile {
        height: 50dvh;
      }

      @media (max-width: (325px)) {
        height: 40dvh;
      }
    }
  }
}
