.slide6 {
  .default-slide__box {
    grid-gap: 40px;

    @include laptop {
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    @include mobile {
      justify-content: center;
      padding: 0;
    }

    @media (max-width: (325px)) {
      grid-gap: 10px;
    }
  }

  .default-slide__picture {
    display: flex;
    align-items: center;
    justify-content: end;

    img,picture{
      width: auto;
      height: 60vh;

      @include laptop{
        width: auto;
        height: 55vh;
      }

      @include tablet{
        height: 50vh;
      }

      @include mobile{
        width: 100%;
        height: auto;
      }

      @include ios{
        width: auto;
        height: 35dvh;
      }

      @media (max-width: (325px)) {
        height: 30dvh;
      }
    }
 
    @include laptop {
      justify-content: center;
    }
    @include tablet {
      justify-content: flex-start;
      margin-left: -60px;
    }
  }

  .default-slide__info {
    grid-gap: clamp(40px, 3.846vw, 50px);
    max-width: 550px;

    @include laptop {
      max-width: 80%;

    }

    @include tablet {
      margin-top: initial;
    }

    @include ios{
      grid-gap: 20px;
    }

    @media (max-width: (325px)) {
      grid-gap: 10px;
    }
  }
}
