.slide19 {
  .default-slide__box {
    grid-template-columns: 1fr 2fr;
    justify-items: center;

    @include laptop {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }

    @include mobile {
      justify-content: center;
      padding: 0;
    }

  }

  .default-slide__info {
    max-width: 406px;
    @include laptop {
      max-width: 80%;
    }

    @include tablet {
      display: none;
    }
  }

  .default-slide__about {

    @include for-tablet {
      display: none;
    }
    span{
      padding-bottom: 30px;

      @media (max-width: (325px)) {
        padding-bottom: 10px;
    }
    }
    
  }

  .default-slide__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;

    @include laptop {
      justify-content: center;
      padding: 0 0 40px;
    }

    @include tablet {
      justify-content: center;
    }

      @include ios {
        padding: 0 0 20px;
    }

    @media (max-width: (325px)) {
      padding: 0 0 10px;
    }

    img,
    picture {
      width: auto;
      height: 70vh;

      @include laptop {
        height: 61vh;
        width: auto;
      }

      @include tablet {
        height: 35vh;
      }

      @include small-tablet {
        height: 50vh;
      }

      @include mobile {
        height: 43dvh;
      }

      @include ios{
        height: 35dvh;
      }

      @media (max-width: (325px)) {
        height: 25dvh;
      }
    }
  }
}
