.slide25 {
  .default-slide__box {
    grid-template-columns: 100%;

    @include small-tablet {
      justify-content: center;
      padding-top: 0;
    }

    @include mobile {
      justify-content: center;
      padding: 0;
    }
  }

  .default-slide__inner {
    justify-content: space-around;

    @include tablet {
      order: 2;
      grid-gap: 40px;
      justify-content: center;
      height: fit-content;
    }
  }

  .default-slide__info {
    width: 100%;
    max-width: 100%;
    align-items: flex-end;
    padding-right: 9%;

    @include laptop {
      padding-right: 7%;
    }

    @include tablet {
      padding: 0;
      max-width: 100%;
      text-align: center;
    }
  }

  .default-slide__about {
    width: 100%;
    max-width: 100%;
    padding-left: 15%;

    @include laptop {
      padding-left: 13%;
    }

    @include tablet {
      padding: 0;
      text-align: center;
    }
  }

  .default-slide__picture {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img,
    picture {
      width: auto;
      height: 90vh;

      @include laptop {
        height: 80vh;
      }

      @include tablet{
        height: 70vh;
      }

      @include small-tablet{
        height: 55vh;
      }

      @include mobile {
        height: 44dvh;
      }

      @include ios{
        height: 55dvh;
      }
    }

    @include tablet {
      position: static;
    }
  }
}
