.slide18 {
  .default-slide__box {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    grid-gap: 120px;

    @include tablet {
      padding-top: 0;
      justify-content: center;
      grid-gap: 20px;
    }

    @include small-tablet {
      padding: 0;
    }

    @include mobile {
      justify-content: center;
    }

    @media (max-width: (325px)) {
      grid-gap: 10px;
    }
  }

  .default-slide__inner {
    width: 100%;
    height: fit-content;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-gap: 50px;

    @include laptop {
      padding: 0;
      grid-gap: 40px;
      grid-template-columns: 1.8fr 1fr;
    }

    @include tablet {
      display: flex;
      flex-direction: column;
      height: fit-content;
    }

    @include small-tablet {
      justify-content: center;
    }

    @include mobile {
      justify-content: flex-start;
      padding-top: 20px;
    }

    @media (max-width: (325px)) {
      grid-gap: 10px;
    }

    &--mode{
      grid-template-columns: 1fr;   
      padding: 0 !important;
      
      @include laptop{
        grid-template-columns: 1fr;
        grid-gap: 0;
      }

      p{
        justify-self: center;
        margin-left: -10%;

        @include laptop{
          margin-left: -20%;
          max-width: 57%;
        }

        @include tablet{
          max-width: 100%;
          margin-left: 0;
        }
      }

      .default-slide__picture {
        width: fit-content;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-63%);
        img,picture{
          height: 26vh;
        }

        @include tablet{
          display: none;
        }
      }
    }
  }

  p {
    max-width: 100%;

    @include tablet {
      max-width: 100%;
    }
  }
  .default-slide__picture {
    display: flex;
    justify-content: center;
    img,
    picture {
      width: auto;
      height: 47vh;

      @include tablet {
        height: 50vh;
      }

      @include mobile {
        height: 60vh;
      }

      @include ios {
        height: 50dvh;
      }

      @media (max-width: (325px)) {
        height: 45dvh;
      }
    }

    @include tablet {
      display: flex;
      justify-content: center;
    }
  }
  .default-slide__info {
    max-width: 730px;
    padding-top: 40px;
    justify-content: center;

    @include laptop {
      max-width: 95%;
    }

    @include tablet {
      max-width: 100%;
    }

    @include ios{
      padding-top: 0;
    }
  }
}
