.slide21 {

  .default-slide__box{
    grid-template-columns: 1.2fr 1fr;
    grid-gap: clamp(60px, 7.692vw, 100px);
  }
    .info-list{
      max-width: 500px;
   
      @include tablet{
        grid-gap: 25px;
      }
    }
  .default-slide__picture {
    display: flex;
    align-items: center;
    justify-content: end;

    img,
    picture {
      width: auto;
      height: 70vh;
      @include tablet {
        height: 45vh;
        width: auto;
      }

      @include small-tablet {
        height: 60vh;
      }

      @include mobile{
        height: 43vh;
      }
    }

    @include tablet {
      justify-content: center;
    }
  }
}
