.slide23 {
  .default-slide__box {
    display: flex;
    flex-direction: column;
    padding-top: clamp(20px, 2.308vw, 30px);
    
    @include mobile {
      justify-content: center;
      padding: 0;
    }
  }

  .default-slide__inner {
    flex-direction: row;
    align-items: center;
   
    width: 100%;
    height: fit-content;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }

    p {
      max-width: 740px;
      padding-left: calc(clamp(40px, 5.385vw, 70px) / 2); 
      @include tablet {
        max-width: 100%;
        padding-left: initial;
      }
    }

    &--mode {
      justify-content: end;
      margin-top: -60px;
      padding: 40px 0 40px;
      @include laptop {
        margin: 0;
        justify-content: space-between;
        padding-left: 50px;
      }

      @include tablet {
        padding: 40px 0 40px;
        flex-direction: row;
        align-items: center;
      }
      @include ios {
        padding: 15px 0 15px;
      }
  
      @media (max-width: (325px)) {
        padding: 5px 0 5px;
      }

      .default-slide__picture {
        width: fit-content;
        padding-right: initial;
        padding-left: calc(clamp(30px, 9.231vw, 120px) / 2);
        img,
        picture {
          width: auto;
          height: 40vh;

          @include tablet {
            height: 25vh;
          }

          @include ios {
            height: 25dvh;
            display: flex;
          }
        }

        @include tablet {
          margin: 0;
          padding-bottom: initial !important;
        }
      }

      .default-slide__info {
        max-width: 745px;
        
        padding-right: calc(clamp(30px, 9.231vw, 120px) / 2);
        padding-left: initial;
        @include laptop {
          max-width: 64%;
        }
        span {
          padding-top: 30px;
          @include laptop {
            display: flex;
          }
        }
      }

      .default-slide__about {
        max-width: 50%;     
      }
    }
  }

  .default-slide__info {
    max-width: 100%;
    @include tablet {
      display: none;
    }
  }

  .default-slide__picture {
    position: relative;
    width: fit-content;
    padding-right: calc(clamp(40px, 5.385vw, 70px) / 2);

    @include tablet{
      padding-bottom: clamp(20px, 3.077vw, 40px);
    }

    @include ios{
      padding-bottom: 15px;
    }
    img,
    picture {
      width: auto;
      height: 32vh;

      @include laptop {
        height: 25vh;
      }

      @include tablet {
        height: 30vh;
      }

      @include mobile {
        height: 22dvh;
      }

      @include ios{
        height: 20dvh;
      }

      @media (max-width: (325px)) {
        height: 15dvh;
      }
    }
  }

  .default-slide__icon {
    position: absolute;
    top: 0;
    left: 0;
    img,
    picture {
      height: 55vh;
      width: auto;

      @include laptop {
        height: 35vh;
      }
    }

    @include tablet {
      display: none;
    }
  }

  .default-slide__about {

    @include for-tablet {
      display: none;
    }
    span{
      padding-bottom: 30px;

      @media (max-width: (325px)) {
        padding-bottom: 5px;
      }  
    }
    br {
      display: none;

      @include small-tablet {
        display: inline;
      }
    }
  
   
  }
}
