.slide24 {
  .default-slide__box {
    grid-template-columns: 1fr 1.2fr;

    @include laptop {
      grid-template-columns: 1fr 1.5fr;
    }

    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @include small-tablet {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
    }

    @include mobile {
      justify-content: center;
      padding: 0;
    }
  }

  .contact-form {
    justify-self: end;
    margin-right: calc(clamp(50px, 6.923vw, 90px) / 2);

    @include laptop {
      margin-right: 17px;
    }

    @include tablet {
      margin-right: 10px;
    }
    @include small-tablet {
      order: 1;
      max-width: 100%;
      margin-right: initial;
      margin-bottom: 80px;
    }
    @include mobile {
      margin-bottom: 20px;
    }

   

   

    &__input {
      @include ios {
        padding: 15px 16px;
      }

      @media (max-width: (325px)) {
        padding: 10px 13px;
      }
    }

    &__area {
      @include ios {
        min-height: 80px;
      }

      @media (max-width: (325px)) {
        min-height: 50px;
        padding: 10px;
      }
    }

    &__title {
      @media (max-width: (325px)) {
        font-size: 35px;
      }
    }
  }

  p {
    @include for-small-tablet {
      display: none;
    }
  }

  .default-slide__picture {
    display: flex;
    justify-content: center;
    padding-left: calc(clamp(50px, 6.923vw, 90px) / 2);

    @include laptop {
      padding-left: 17px;
    }

    @include tablet {
      padding-left: 10px;
    }
    img,
    picture {
      width: auto;
      height: 75vh;

      @include laptop {
        height: 60vh;
      }

      @include tablet {
        width: auto;
        height: 60vh;
      }
    }

    @include tablet {
      display: flex;
      justify-content: center;
    }

    @include small-tablet {
      display: none;
    }
  }
}
