.slide18 {
  .default-slide__box {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    

    @include tablet {
      padding-top: 0;
      justify-content: center;
      
    }

    @include small-tablet {
      padding: 0;
    }

    @include mobile {
      justify-content: center;
    }
  }

  .default-slide__inner {
    width: 100%;
    height: fit-content;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    

    @include laptop {
      padding: 0;
      grid-template-columns: 1.8fr 1fr;
    }

    @include tablet {
      display: flex;
      flex-direction: column;
      height: fit-content;
    }

    @include small-tablet {
      justify-content: center;
    }

    @include mobile {
      justify-content: flex-start;
      padding-top: 20px;
    }

  

    &--mode{
      grid-template-columns: 1fr;   
      padding: 0 !important;
      margin-top: 120px;
      @include laptop{
        grid-template-columns: 1fr;
      }

      @include tablet{
        margin-top: 20px;
      }

      @media (max-width: (325px)) {
        margin-top: 10px;
      }

      p{
        justify-self: center;
        margin-left: -10%;
        padding-left: initial;
        padding-right: 25px;

        @include laptop{
          margin-left: -20%;
          max-width: 57%;
        }

        @include tablet{
          max-width: 100%;
          margin-left: 0;
          padding: 40px 0 0;
        }

        @include ios{
          padding: 0;
        }
      }

      .default-slide__picture {
        padding-right: initial;
        padding-left: 25px;
        width: fit-content;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-63%);
        img,picture{
          height: 26vh;
        }
      
        @include tablet{
          display: none;
        }
      }
    }
  }

  p {
    max-width: 100%;
    padding-left: 25px;
    @include tablet {
      max-width: 100%;
      padding-left: initial;
    }
  }
  .default-slide__picture {
    display: flex;
    justify-content: center;
    padding-right: 25px;
    img,
    picture {
      width: auto;
      height: 47vh;

      @include tablet {
        height: 50vh;
      }

      @include mobile {
        height: 60vh;
      }

      @include ios {
        height: 50dvh;
      }

      @media (max-width: (325px)) {
        height: 45dvh;
      }
    }
    @include laptop{
      padding-right: 60px;
    }
    @include tablet {
      display: flex;
      justify-content: center;
      padding: 0 0 40px

    }
    @media (max-width: (325px)) {
      padding: 0 0 10px;
    }
  }
  .default-slide__info {
    max-width: 730px;
    padding-top: 40px;
    justify-content: center;

    @include laptop {
      max-width: 95%;
    }

    @include tablet {
      max-width: 100%;
    }

    @include ios{
      padding-top: 0;
    }
  }
}
