.slide8 {
  .default-slide__box {
    grid-gap: clamp(40px, 5.769vw, 75px);
    grid-template-columns: 1.6fr auto;

    @include laptop {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include small-tablet {
      justify-content: flex-start;
    }

    @include mobile {
      justify-content: center;
      padding: 0;
    }

    @include ios{
      grid-gap: 20px;
    }
  }

  p {
    grid-gap: 50px;
    max-width: 415px;

    @include laptop{
      max-width: 75%;
    }

    @include tablet{
      max-width: 100%;
    }

    @include ios{
      grid-gap: 15px;
    }
  }

  .default-slide__picture {
    display: flex;
    justify-content: center;

    img,
    picture {
      height: 65vh;
      width: auto;

      @include tablet {
        height: 55vh;
      }

      @include mobile {
        margin-left: -30px;
        margin-right: -60px;
        width: calc(100% + 90px);
      }

      @include ios{
        margin: 0;
        width: auto;
        height: 50dvh;
      }
    }
  }
}
