.slide15 {
  .default-slide__box {
    grid-template-columns: 100%;
    padding-top: 20px;

    @include laptop {
      display: flex;
      flex-direction: column;
      
      justify-content: center;
      padding: 20px;
    }

    @include small-tablet {
      padding: 40px 60px;
    }
    @include mobile {
      justify-content: center;
      padding: 0;
    }
  }

  .default-slide__inner {
    flex-direction: row;
    height: fit-content;

    align-items: center;
    width: 100%;

    &--mode {
      margin-top: clamp(60px, 6.538vw, 85px);
      margin-left: initial;
      justify-content: space-between;


      p {
        max-width: 100%;
        width: 100%;
        padding-left: 4%;
        padding-bottom: 10%;
        padding-right: calc(clamp(45px, 5.848vw, 100px) / 2);

        @include laptop {
          max-width: 51%;
          padding-left: initial;
          padding-bottom: initial;
        }

        @include small-tablet{
          padding: 0 15px 0 0;
        }
    
        @media (max-width: (325px)) {
          padding-right: 10px;
        }
        span {
          max-width: 450px;
        }
      }

      .default-slide__picture {
        width: 100%;
        margin-top: -19%;
        margin-right: -3%;
        display: flex;
        justify-content: end;
        padding-right: initial;
        padding-left: calc(clamp(45px, 5.848vw, 100px) / 2);
        img,
        picture {
          height: 50vh;

          @include laptop {
            height: 40vh;
          }
        }

        @include laptop {
          width: fit-content;
        }
        
        @include small-tablet{
          padding: 0 0 0 15px;
        }

        @media (max-width: (325px)) {
          padding-left: 10px;
        }
      }

      @include laptop{
        margin-top: 20px;
      }

      @include small-tablet {
        display: none !important;
      }
    }

    @include small-tablet {
      display: flex;
      flex-direction: column;
      
      width: 100%;
    }
  }

  p {
    max-width: 650px;
    padding-left: calc(clamp(45px, 5.848vw, 100px) / 2);
    @include laptop {
      max-width: 55%;
    }

    @include small-tablet {
      width: 100%;
      max-width: 100%;
      text-align: start;
      padding: 0 0 0 15px;
    }

    @media (max-width: (325px)) {
      padding-left: 10px;
    }
  }

  .default-slide__picture {
    width: fit-content;
    margin-left: -3%;
    padding-right: calc(clamp(45px, 5.848vw, 100px) / 2);
    img,
    picture {
      width: auto;
      height: 40vh;

      @include laptop {
        height: 30vh;
      }

      @include small-tablet {
        height: 65vh;
      }

      @include mobile{
        height: 63vh;
      }

      @include ios{
        height: 55vh;
      }
    }

    @include laptop {
      margin: 0 !important;
    }

    @include small-tablet{
      padding: 0 0 30px;
    }
  }
}
