.slide23 {
  .default-slide__box {
    display: flex;
    flex-direction: column;
    padding-top: clamp(20px, 2.308vw, 30px);
    grid-gap: 40px;

    @include ios{
        grid-gap: 20px;
    }
  }

  .default-slide__inner {
    flex-direction: row;
    align-items: center;
    grid-gap: clamp(40px, 5.385vw, 70px);
    width: 100%;
    height: fit-content;

  

    @include tablet {
      flex-direction: column;
      grid-gap: clamp(20px, 3.077vw, 40px);
    }

    p{
      max-width: 710px;
    }

    &--mode {
      grid-gap: clamp(30px, 9.231vw, 120px);
      justify-content: end;
      margin-top: -60px;

      

      @include laptop {
        margin: 0;
        justify-content: space-between;
        padding-left: 50px;
      }

      @include tablet {
        padding: 0;
        flex-direction: row;
      }

      .default-slide__picture {
        width: fit-content;
        img,
        picture {
          width: auto;
          height: 40vh;

        
          @include tablet {
            height: 25vh;
          }

          @include ios{
            height: 25vh;
            display: flex;
          }
        }

        // @include laptop {
        //   margin-top: -20vh;
        // }

        @include tablet {
          margin: 0;
        }
      }

      .default-slide__info {
        max-width: 685px;
        grid-gap: 30px;


        @include laptop {
          max-width: 64%;
        }
        span {
         
          @include laptop {
            display: flex;
          }
        }
      }

      .default-slide__about {
        max-width: 50%;
      }
    }
  }

  .default-slide__info {
    max-width: 100%;
    @include tablet {
      display: none;
    }
  }

  .default-slide__picture {
    position: relative;
    width: fit-content;

    img,
    picture {
      width: auto;
      height: 32vh;

      @include laptop {
        height: 25vh;
      }

      @include tablet{
        height: 20vh;
      }

      @include small-tablet{
        height: 30vh;
      }

      @include mobile{
        height: 22vh;
      }

      // @include ios{
      //   display: none;
      // }
    }
  }

  .default-slide__icon {
    position: absolute;
    top: 0;
    left: 0;
    img,
    picture {
      height: 55vh;
      width: auto;

      @include laptop {
        height: 35vh;
      }
    }

    @include tablet {
      display: none;
    }
  }

  .default-slide__about {
    @include for-tablet {
      display: none;
    }

    br {
      display: none;

      @include small-tablet {
        display: inline;
      }
    }
  }
}
