.slide13 {
  @include tablet {
    display: none;
  }
  .default-slide__info {
    display: flex;
    @include for-small-tablet {
      display: none;
    }
    grid-gap: 45px;
  }

  .default-slide__box {
    grid-template-columns: 1.4fr 1fr;


    @include laptop {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 40px 80px;
    }
  }

  p {
    max-width: 480px;

    @include for-laptop{
      br{
        display: none;
      }
    }

    @include laptop{
        max-width: 710px;
    }
  }

  .default-slide__picture {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 55px;
    picture,
    img {
      width: auto;
      height: 60vh;

      @include laptop{
        height: 75vh;
      }
    }

    @include laptop{
        justify-content: center;
        padding:0 0 55px;
    }

  }
}
