.slide21{
    .default-slide__picture{
            display: flex;
            align-items: center;
            justify-content: end;
      
            @include notebook {
              picture,
              img {
                width: auto;
                height: 60vh;
              }
            }
            @include tablet {
                justify-content: center;
                picture,
                img {
                  height: 50vh;
                }
            } 
            @include small-tablet {
                picture,
                img {
                  height: 60vh;
                }
            } 
    }
}