.slide9 {
  .default-slide__box {
    grid-template-columns: 100%;
    justify-items: center;
    align-items: end;
    padding-bottom: 50px;

    @include mobile {
      justify-content: center;
      padding: 0;
    }

    @include ios{
      grid-gap: 40px;
    }
  }

  .default-slide__inner {
    position: absolute;
    justify-content: space-between;
    inset: 0;

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: static;
      height: fit-content;
      order: 2;
      padding: 0;
      width: 100%;
      grid-gap: 40px;
    }

    @include mobile {
      grid-gap: 30px;
    }
  }

  p {
    max-width: 510px;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-25%);

    @include laptop {
      max-width: 94%;
      width: 100%;
      transform: translateX(-50%);
      left: 50%;
      padding: 0;
    }

    @include tablet {
      max-width: 100% !important;
      position: static;
      transform: none !important;
      padding: 0;
    }
  }

  .default-slide__info {
    top: initial;
    bottom: 13%;
    left: 10%;
    transform: translateX(-10%);

    @include laptop {
      max-width: 94%;
      transform: translateX(-50%);
      left: 50%;
      bottom: 5%;
    }
  }

  .default-slide__picture {
    display: flex;
    justify-content: center;

    @include laptop{
      align-self: center;
      margin-bottom: -5%;
    }

    picture,
    img {
      width: auto;
      height: 75vh;

      @include laptop {
        height: 70vh;
      }

      @include tablet {
        height: 65vh;
      }

      @include mobile {
        margin-left: -30px;
        margin-right: -60px;
        width: calc(100% + 90px);
        height: 60vh;
      }

      @include ios{
        width: auto;
        height: 45dvh;
        margin: 0;
      }
    }
  }
}
