.slide2 {
  .default-slide__box {
    grid-template-columns: 1fr 1.5fr;
    position: relative;
    

    @include laptop {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include tablet {
      padding-top: 60px;
    }
  }

  p {
    align-items: end;
    font-weight: 500;
    @include laptop {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-109%);
    }

    @include tablet {
      align-items: center;
      position: initial;
      br {
        display: none;
      }
    }
  }

  .default-slide__picture {

    img,picture{
      width: auto;
      height: 80vh;

      @include tablet{
        width: 75%;
      }

      @include small-tablet{
        width: 100%;
      }
    }

      @include tablet {
        width: 100%;
        margin-left: -60px;
      }
  
      @include laptop{
        display: flex;
        justify-content: center;
      }
  }
}

