.slide11 {
  .default-slide__box {
    
    @include laptop {
      grid-template-columns: 1fr 0.9fr;
    }

    @include small-tablet{
        padding-top: 15px;
    }

    @include mobile {
      justify-content: center;
      padding: 0;
    }
  }

  .default-slide__inner {
    padding: 30px 0 40px calc(clamp(60px, 6.538vw, 85px) / 2);
   
    @include laptop {
      justify-content: center;
    }

    @include tablet {
      padding: 0;
      flex-direction: row;
      align-items: center;
      width: 100%;
    }

    @include mobile{
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        height: fit-content;
    }

    &--mode {
      align-items: flex-end;
      justify-content: flex-end;
      padding: 30px calc(clamp(60px, 6.538vw, 85px) / 2) 40px 0;
      
      @include laptop {
        justify-content: center;
        p {
          position: relative;
          height: Min(9.415vw, 161px);
          width: 100%;

          span {
            position: absolute;
            top: 0;
            transform: translateY(-70%);
            left: 0;
            min-width: 660px;

            @media (max-width: (1110px)) {
              min-width: 600px;
            }

            @include tablet {
              position: initial;
              min-width: initial;
            }
          }
        }
      }

      @include tablet {
        flex-direction: column-reverse;
        padding: 0 0 clamp(60px, 6.538vw, 85px);
        p {
          height: initial;
          max-width: 100%;
          span {
            transform: none;
          }
        }
      }

      @include mobile{
        display: flex;
      }

      @include ios{
        padding-bottom: 10px;
      }
  
      @media (max-width: (325px)) {
        padding-bottom: 0;
      }

      .default-slide__picture {
        justify-content: flex-end;
        margin: 0;

        @include tablet{
          padding: 0;
        }

        @include small-tablet{
          justify-content: center;
        }
        img,
        picture {
          @include small-tablet {
            width: auto;
            height: 40vh;
          }

          @include mobile {
            margin-left: -30px;
            margin-right: -60px;
            width: calc(95% + 90px);
          }

          @include ios{
            margin: 0;
            width: auto;
            height: 32dvh;
          }

          @media (max-width: (325px)) {
            height: 27dvh;
          }
        }
      }

      p{
        padding: 0 0 clamp(50px, 8.462vw, 110px);
        margin-right: -10%;

        @include tablet{
        margin: 0;
        padding: clamp(50px, 8.462vw, 110px) 0 0;
        }

        @include mobile{
          padding-top: 20px;
        }
      }
    }
  }

  p {
    max-width: 500px;
    padding-top: 45px;


    @media (max-width: (325px)) {
      padding: 0;
    }
  }

  .default-slide__picture {
    display: flex;
    justify-content: flex-end;
    margin-bottom: clamp(50px, 8.462vw, 110px);

    img,
    picture {
      height: 55vh;
      width: auto;

      @include laptop {
        height: 40vh;
      }

      @include tablet {
        height: 30vh;
      }

      @include small-tablet {
        height: 30vh;
        width: auto;
      }

      @include mobile {
        height: auto;
        width: 100%;
      }

      @include ios{
        width: 90%;
      }
    }

    @include laptop {
      justify-content: flex-end;
    }

    @include tablet{
      margin: 0;
      padding-right: 30px;
      justify-content: center;
    }
  }
}
