.slide16 {
  .default-slide__box {
    grid-template-columns: 100%;
    padding-top: 80px;
    grid-gap: 20px;
    align-items: start;

    @include laptop {
      align-items: center;
    }

    @include mobile {
      justify-content: center;
      padding: 0;
    }
  }

  .default-slide__inner {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    grid-gap: 60px;
    align-items: center;
    height: fit-content;

    @include tablet {
      display: flex;
      flex-direction: column;
      grid-gap: 70px;
    }

    @include mobile {
      grid-gap: 40px;
    }

    @include ios{
      grid-gap: 20px;
    }

    &--mode {
      grid-template-columns: 2.3fr 1fr;

      .default-slide__info {
        max-width: 440px;
        justify-self: center;
      }

      .default-slide__picture {
        margin-top: -10vh;

        img,
        picture {
          height: 40vh;

          @include laptop {
            height: 35vh;
          }
        }
      }

      @include laptop {
        margin-top: -15vh;
      }

      @include tablet {
        display: none;
      }
    }
  }

  .default-slide__about {
    @include for-tablet {
      display: none;
    }
  }

  .default-slide__info {
    max-width: 680px;

    @include tablet {
      display: none;
    }
  }

  .default-slide__picture {
    display: flex;
    justify-content: center;
    img,
    picture {
      width: auto;
      height: 50vh;

      @include laptop {
        height: 40vh;
      }

      @include small-tablet {
        height: 55vh;
      }

      @include mobile {
        height: 47dvh;
      }
    }

    @include tablet {
      display: flex;
      justify-content: center;
    }
  }
}
