.slide24 {
  .default-slide__box {
    grid-template-columns: 1fr 1.2fr;
    grid-gap: clamp(50px, 6.923vw, 90px);

    @include laptop {
      grid-gap: 35px;
      grid-template-columns: 1fr 1.5fr;
    }

    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }

    @include small-tablet {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      grid-gap: 80px;
    }

    @include mobile {
      justify-content: center;
      padding: 0;
      grid-gap: 20px;
    }
  }

  .contact-form {
    justify-self: end;

    @include small-tablet {
      order: 1;
    }
  }

  p {
    @include for-small-tablet {
      display: none;
    }
  }

  .default-slide__picture {
    display: flex;
    justify-content: center;
    img,
    picture {
      width: auto;
      height: 75vh;

      @include laptop {
        height: 60vh;
      }

      @include tablet {
        width: auto;
        height: 60vh;
      }
    }

    @include tablet {
      display: flex;
      justify-content: center;
    }

    @include small-tablet {
      display: none;
    }
  }
}
