.slide13 {
  @include tablet {
    display: none;
  }
  .default-slide__info {
    display: flex;
    @include for-small-tablet {
      display: none;
    }
    grid-gap: 45px;
  }

  .default-slide__box {
    grid-template-columns: 1.4fr 1fr;

    @include laptop {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 40px 80px;
    }
  }

  p {
    max-width: 440px;
  }

  .default-slide__picture {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    picture,
    img {
      width: auto;
      height: 70vh;

      @include laptop {
        height: auto;
        width: 100%;
      }

      // @include small-tablet{
      //     height: 50vh;
      // }

      // @include mobile{
      //     height: auto;
      //     width: 100%;
      // }
    }
  }
}
