.slide4 {
  .default-slide__box {
    grid-template-columns: 100%;
 
    @include laptop {
      align-items: end;
    }

    @include tablet{
      justify-content: flex-end;
    }

    @include small-tablet {
      flex-direction: column-reverse;
    }

    @include mobile {
      justify-content: center;
      padding: 0;
    }

    @include ios{
      grid-gap: 15px;
    }
  }

  p {
    position: absolute;
    top: 10%;
    left: 30px;
    max-width: 680px;
    grid-gap: 40px;

    @include laptop {
      max-width: 725px;
    }

    @include small-tablet {
      position: initial;
      grid-gap: 40px;
      max-width: 100%;
    }

    @include mobile {
      grid-gap: 30px;
    }

    @include ios {
      grid-gap: 10px;
    }

    span:last-child {
      @include laptop {
        padding-top: 40px;
        max-width: 380px;
      }
      @include tablet {
        padding: 0;
        max-width: 320px;
      }
      @include small-tablet {
        max-width: 100%;
      }
    }
  }

  .default-slide__picture {

    display: flex;
    align-items: center;
    justify-content: flex-end;

    img,picture{
      height: 70vh;
      width: auto;

      @include tablet{
        height: 62vh;
      }

      @include small-tablet{
        height: 60vh;
      }

      @include mobile{
        height: 50vh;
      }

      @include ios {
        height: 48dvh;
      }

      @media (max-width: (325px)) {
        height: 34dvh;
      }
    }
 
    @include laptop {
      padding: 0 40px 40px 40px;
    }

    @include tablet{
      padding-right: 0;
    }

  
    @include small-tablet {
      padding: 0;
      height: fit-content;
      display: flex;
      justify-content: center;
    }
  }
}
