.slide2 {
  .default-slide__box {
    grid-template-columns: 1fr 1.5fr;
    position: relative;
    

    @include laptop {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include tablet {
      padding-top: 60px;
    }
  }

  p {
    align-items: end;
    font-weight: 500;
    @include laptop {
      position: absolute;
      top: 3%;
      left: 5%;
    }

    @include tablet {
      align-items: center;
      position: initial;
      br {
        display: none;
      }
    }
  }

  .default-slide__picture {

    img,picture{
      width: auto;
      height: 80vh;
    }

      @include tablet {
        width: 100%;
        margin-left: -60px;
        picture,
        img {
          width: 75%;
        }
      }
  
      @include small-tablet {
        picture,
        img {
          width: 100%;
        }
      }
  }
}

