.slide12 {
  .default-slide__box {
    display: flex;
    flex-direction: column;
    padding: 40px 0;

    @include small-tablet {
      padding: 0;
      justify-content: center;
    }
  }
  .default-slide__inner {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    align-items: end;
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 50px;
    }

    @include small-tablet {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    @include mobile {
      height: fit-content;
    }

    @include ios {
      margin-bottom: 40px;
    }

    @media (max-width: (325px)) {
      margin-bottom: 30px;
    }

    &--mode {
      margin-top: -7%;
      grid-template-columns: 2fr 1fr;
      justify-items: end;
      align-items: start;
      width: 100%;

      @include tablet {
        margin-bottom: 0;
      }

      @include ios {
        margin-bottom: 0;
      }
  
      @media (max-width: (325px)) {
        margin-bottom: 0;
      }

      .default-slide__picture {
        padding-left: 40px;
        padding-right: initial;
        @include small-tablet {
          display: flex;
          height: 100%;
          align-items: flex-end;
          padding: 0;
        }

        @include mobile {
          height: fit-content;
        }
        img,
        picture {
          height: 35vh;
          width: auto;

          @include laptop {
            height: 30vh;
          }

          @include small-tablet {
            height: 40vh;
          }
        }
      }

      p {
        max-width: 580px;
        padding: 0 40px 0 0;
        @include laptop {
          padding-top: 13vh;
          justify-content: initial;
        }

        @include tablet {
          padding-top: 0;
        }

        @include small-tablet {
          height: fit-content;
          padding: 0 0 20px;
        }

        @media (max-width: (325px)) {
          padding: 0 0 10px;
        }
      }
    }
  }

  p {
    height: 100%;
    justify-content: center;
    max-width: 520px;
    padding-left: 40px;

    @include laptop {
      justify-content: flex-end;
      padding-bottom: 16vh;
    }

    @include tablet {
      padding-bottom: 5vh;
    }

    @include small-tablet {
      padding: 20px 0 0;
      align-items: center;
      max-width: 100%;
    }

    @include mobile {
      height: fit-content;
    }
  }

  .default-slide__about {
    @include for-small-tablet {
      display: none;
    }
  }

  .default-slide__picture {
    padding-right: 40px;

    @include small-tablet {
      padding: 0;
    }
    img,
    picture {
      height: 60vh;
      width: auto;

      @include laptop {
        height: 50vh;
      }

      @include small-tablet {
        height: 40vh;
      }

      @include mobile {
        height: 32dvh !important;
      }

      @include ios {
        height: 24dvh !important;
      }

      @media (max-width: (325px)) {
        height: 21dvh !important;
      }
    }

    @include small-tablet {
      display: flex;
      justify-content: center;
    }
  }
}
