.slide22 {
  .default-slide__box {
    @include small-tablet {
      padding-top: 90px;
    }

    @include mobile {
      justify-content: center;
      padding: 0;
    }
  }

  .default-slide__picture {
    display: flex;
    align-items: center;
    justify-content: end;

    img,
    picture {
      width: auto;
      height: 50vh;

      @include mobile {
        height: 45dvh;
      }
    }

    @include tablet {
      justify-content: center;
    }
  }

  .default-slide__info {
    grid-gap: clamp(40px, 4.231vw, 55px);
    max-width: 480px;

    @include laptop {
      max-width: 100%;
      margin-top: -40px;
    }

    @include tablet {
      margin-top: initial;
    }

    @include mobile {
      padding-top: 50px;
    }

    @include ios {
      grid-gap: 30px;
      padding: 0;
    }
  }
}
