.slide5{

    .default-slide__box{
      grid-gap: clamp(60px, 6.154vw, 80px);
      
      @include mobile {
        justify-content: center;
        padding: 0;
      }

      @include ios{
        grid-gap: 25px;
      }
    }

    .default-slide__picture{
        display: flex;
        align-items: center;
        justify-content: end;

        img,picture{
          width: auto;
          height: 63vh;

          @include tablet{
            height: 60vh;
          }

          @include mobile{
            width: auto;
            height: 53vh;
          }

          @include ios {
            height: 47dvh;
          }

          @media (max-width: (325px)) {
            height: 40dvh;
          }
        }

        @include tablet{
          justify-content: center;
        }
    }

    p{
      max-width: 610px;
      
      @include laptop{
        max-width: 305px;
        justify-self: center;
      }

      @include tablet{
        max-width: 100%;
        grid-gap: 40px;

        br{
          display: none;
        }
      }
      b{
      &.space{
        display: inline-block;
        width: 3px;
         
        @include for-tablet{
          display: none;
        }
      }
    }
    }
}