.slide2 {
  .default-slide__box {
    grid-template-columns: 1fr 1.5fr;
    position: relative;

    @include laptop {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include tablet {
      padding-top: 60px;
    }

    @include mobile {
      justify-content: center;
      padding: 0;
    }
  }

  p {
    align-items: end;
    font-weight: 500;
    @include laptop {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-109%);
    }

    @include tablet {
      align-items: center;
      transform: none;
      position: initial;
      br {
        display: none;
      }
    }

    @include ios{
    max-width: 95%;
    }
  }

  .default-slide__picture {
    img,
    picture {
      width: auto;
      height: 80vh;

      @include small-tablet {
        height: 70vh;
      }

      @include ios {
        height: 60dvh;
      }
    }

    @include laptop {
      display: flex;
      justify-content: center;
    }

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: calc(100% + 60px);
      margin-left: -30px;
    }
  }
}
