.slide10{
    .default-slide__box{
        
        grid-template-columns: 1fr 1.3fr;

        @include laptop{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;            
        }

        @include small-tablet{
            justify-content: flex-end;
        }

        @include mobile{
            padding-top: 0;
        }
    }

    p{
        max-width: 540px;
        margin-right: clamp(40px, 3.846vw, 50px);
        @include laptop{
            max-width: 70%;
            margin-right: initial;
            margin-top: clamp(40px, 3.846vw, 50px);
        }

        @include tablet{
            max-width: 100%;
        }

        
        @include ios{
            margin-top: 20px;
        }

        @media (max-width: (325px)) {
            margin-top: 10px;
          }
          span{
            padding: 45px 0 45px;

            @include tablet{
                padding: 30px 0 30px;
            }

            @include ios{
                padding: 20px 0 20px;
            }
    
            @media (max-width: (325px)) {
                padding: 10px 0 10px;
              }
          }

    }

    .default-slide__picture{
        display: flex;
        justify-content: center;

        img,picture{
            height: 70vh;
            width: auto;

            @include laptop{
                height: 55vh;
            }

            @include tablet{
                height: 50vh;
            }

            @include small-tablet{
               
            }

            @include mobile{
                margin-left: -30px;
                margin-right: -60px;
                width: calc(100% + 90px);
                height: 55vh;
            }

            @include ios{
                margin: 0;
                width: auto;
                height: 50dvh;
            }
        }
    }
}