.slide22 {
  .default-slide__box {
    @include small-tablet {
      padding-top: 90px;
    }

    @include mobile {
      justify-content: center;
      padding: 0;
    }
  }

  .default-slide__picture {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: calc(clamp(60px, 6.538vw, 85px) / 2);

    img,
    picture {
      width: auto;
      height: 50vh;

      @include mobile {
        height: 45dvh;
      }
    }

    @include tablet {
      padding: 0 0 clamp(60px, 6.538vw, 85px);
      justify-content: center;
    }
    @include ios{
      padding: 0 0 40px;
    }

    @media (max-width: (325px)) {
      padding: 0 0 30px;
    }
  }

  .default-slide__info {
    max-width: 520px;
    padding-left: calc(clamp(60px, 6.538vw, 85px) / 2);

    @include laptop {
      max-width: 100%;
      margin-top: -40px;
    }

    @include tablet {
      margin-top: initial;
      padding: initial;
    }

    @include mobile {
      padding-top: 50px;
    }

    @include ios {
      padding: 0;
    }

   

    span{
      margin-bottom: clamp(40px, 4.231vw, 55px);
      @include ios {
        margin-bottom: 30px;
      }
      @media (max-width: (325px)) {
        margin-bottom: 10px;
      }
    }
  }
}
