.slide4 {
  .default-slide__box {
    grid-template-columns: 100%;
 
    @include laptop {
      align-items: end;
    }

    @include small-tablet {
      flex-direction: column-reverse;
      justify-content: flex-end;
    }
  }

  p {
    position: absolute;
    top: 14%;
    left: 0;
    max-width: 680px;
    grid-gap: 40px;

    @include laptop {
      max-width: 920px;
    }

    @include small-tablet {
      position: initial;
      grid-gap: 40px;
      max-width: 100%;
    }

    @include mobile {
      grid-gap: 30px;
    }

    @include ios {
      grid-gap: 10px;
    }

    span:last-child {
      @include laptop {
        padding-top: 40px;
        max-width: 380px;
      }
      @include tablet {
        padding: 0;
        max-width: 320px;
      }
      @include small-tablet {
        max-width: 100%;
      }
    }
  }

  .default-slide__picture {

    display: flex;
    align-items: center;
    justify-content: flex-end;

    img,picture{
      height: 85vh;
      width: auto;
    }
 
    @include laptop {
      height: 70%;
      padding: 0 40px 40px 40px;

      img,
      picture {
        height: 100%;
        width: auto;
      }
    }

    @include tablet {
      display: flex;
      justify-content: center;
      height: 60%;
    }

    @include small-tablet {
      padding: 0;
      height: fit-content;

      img,
      picture {
        height: 60vh;
      }
    }

    @include mobile {
      img,
      picture {
        height: 50vh;
      }
    }
  }
}
